body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Chewy', cursive;
    letter-spacing: .2rem;
}

.explosion {
    background-color: #cecece;
    background-image: url('../images/original.gif');
    background-size: cover;
}

.btn-outline-primary {
    color: white;
    border-color: white;
    border-radius: 2rem;
}

.btn-outline-primary:hover {
    color: #21334E;
    background-color: #0dcaf0;
    border-color: #21334E;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #21334E;
    background-color: #f9fd0d;
    border-color: #f9fd0d
}

.yellow {
    color: #f9fd0d;
}

.blue{
    color: #0dcaf0;
}

.btn {
    border-radius: 2rem;
}

.btn-font {
    font-size: 30px;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 50px;
    text-align: center;
}

.massive {
    font-size: 100px;
}

.lessMassive {
    font-size: 75px;
}

.limit {
    max-width: 400px
}

.characterChoices {
    color: #21334E;
}

.zToBack {
    /* z-index: -1000; */
    position: absolute;
}

.scaler {
    width: 45%;
}

.opacity {
    opacity: 15%;
}

.darkBlue {
    color: #e7e7e7;
}

h1#gameName span#rspls {
    display: inline;
}

h1#gameName:hover span#rspls {
    display: none;
}

h1#gameName span#pride {
    display: none;
}

h1#gameName:hover span#pride {
    display: inline;
}

#pride {
    letter-spacing: 10px;
    font-size: 60px!important;
}

a {
    color: #fdd90d;
    text-decoration: none
}

#exampleModalLabel {
    color: #1a1a1a;
}