body{
    /* background-color: #21334E; */
    color:  #21334E;
    /* font-family: 'Major Mono Display', monospace;
    
 */
 font-family: 'Chewy', cursive;
 letter-spacing: 2px;
}

/* //let's target the button effects */

.btn-outline-primary {
    color: #21334E;
    border-color: #21334E;
    border-radius: 2rem;
}

.btn-outline-primary:hover {
    color: #21334E;
    background-color: #0dcaf0;
    border-color: #21334E;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #21334E;
    background-color: #1642635f;
    border-color: #164263
}

.yellow{
    color:#575757;
}

.btn{
border-radius: 2rem;
}

.btn-font{
    font-size: 30px;
}

h1{
    font-family: 'Major Mono Display', monospace;    font-size: 50px;
    text-align: center;
}

.massive{
    font-size: 100px;
}

.limit{
    max-width: 400px
}

.characterChoices {
    color:#21334E;
}

.zToBack{
    /* z-index: -1000; */
    position: absolute;
}

.scaler{
 width: 45%;
}

.opacity{
    opacity: 10%;
}

.darkBlue{
    color: #141f30;
}

h1#gameName span#rspls{
    display: inline;
}

h1#gameName:hover span#rspls{
    display: none;
}

h1#gameName span#pride{
    display: none;
}

h1#gameName:hover span#pride{
    display: inline;
}

#pride{
    letter-spacing: 10px;
    font-size: 60px!important;
}
